<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <!-- Root Context: defines shared resources visible to all other web components -->
  <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver"
      p:order="2" 
        p:viewClass="org.springframework.web.servlet.view.JstlView" 
        p:prefix="/WEB-INF/views/" p:suffix=".jsp" />
  
  <!-- Tiles 2 Resolver -->
  <bean id="tilesViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver"
    p:order="1"
    p:viewClass="org.springframework.web.servlet.view.tiles2.TilesView" />

  <!-- Tiles 2 Configurer -->
  <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
    <property name="definitions">
      <list>
        <value>/WEB-INF/tiles/default-layout.xml</value>
      </list>
    </property>
  </bean>
  
  <!-- jackson -->
  <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
  
  
</beans>
